@model TotalCalls
@{
    ViewData["Title"] = "CallList";
}

<h2>CallList</h2>

<h3> Here are the all the calls that are in. Both Service Calls and Heating/Cooling Checks</h3>

<h1>Checks</h1>
@foreach (Checks checks in Model.Checks)
{
    if (checks.Completed == false)
    {
        <form method="post" action="CompletedCallBool" name="callComplete" value="@checks.ApplicationId">
            <p class="check-list"> Customer: <u>@checks.FirstName</u> <u>@checks.LastName</u></p>
            <p class="check-list"> Address: <u>@checks.Address</u> | Phone Number: <u>@checks.Phone</u></p>
            <p class="check-list"> Number Of Systems In Home: <u>@checks.NumberOfSystems</u> | Filters: <u>@checks.Filters</u></p>
            <p class="check-list"> Additional Notes: <u>@checks.Memo</u></p>
            <div class="form-group">
                <input type="submit" value="Complete" class="btn btn-default" />
            </div>
        </form>
        <p>---------------------------------------------------------------------------</p>
    }
}


<h1>Service Calls</h1>

@foreach (ServiceCalls serviceCalls in Model.ServiceCalls)
{
    if (serviceCalls.Completed == false)
    {
        <form method="post" action="CompletedCallBool" name="callComplete" value="@serviceCalls.ApplicationId">
            <p class="check-list"> Customer: <u>@serviceCalls.FirstName</u> <u>@serviceCalls.LastName</u></p>
            <p class="check-list"> Address: <u>@serviceCalls.Address</u> | Phone Number: <u>@serviceCalls.Phone</u></p>
            <p class="check-list"> Number Of Systems In Home: <u>@serviceCalls.NumberOfSystems</u></p>
            <p class="check-list"> Additional Notes: <u>@serviceCalls.Memo</u></p>
            <div class="form-group">
                <input type="submit" value="Complete" class="btn btn-default" />
            </div>
        </form>
        <p>---------------------------------------------------------------------------</p>
    }
}
