@model TotalCalls
@{
    ViewData["Title"] = "CallList";
}

<h2>CallList</h2>

<h3> Here are the all the calls that are in. Both Service Calls and Heating/Cooling Checks</h3>

<h1>Checks</h1>
@foreach (Checks checks in Model.Checks)
{
    if (checks.Completed == false)
    {
        <h4>class="check-list"> Custmer: @checks.FirstName @checks.LastName</h4><br />
        <h4>class="check-list"> Address: @checks.Address | Phone Number: @checks.Phone</h4><br />
        <h4>class="check-list"> Additional Notes: @checks.Memo</h4><br />
    }
}


<h1>Service Calls</h1>

@foreach (ServiceCalls serviceCalls in Model.ServiceCalls)
{
    if (serviceCalls.Completed == false)
    {
        <h4>class="check-list"> Custmer: @serviceCalls.FirstName @serviceCalls.LastName</h4><br />
        <h4>class="check-list"> Address: @serviceCalls.Address | Phone Number: @serviceCalls.Phone</h4><br />
        <h4>class="check-list"> Additional Notes: @serviceCalls.Memo</h4><br />
    }
}